body {
  text-align: center;
}

.body-of-index {
  background-image: url("/img/main2.jpg");
  background-size: cover;
}

#sales {
  background-image: url("/img/main3.jpg");
  background-size: cover;
}
#contactinfo {
  width: 100%;
  

  text-align: left;
  background-color: tomato;
  margin-top: 390px;
}

main h3 {
  background-color: tomato;
}

#salesCookies div {
  display: inline-block;
  padding: 50px;
}
table {
  margin: 40px;
  text-align: left;
}

#sales {
  background-size: cover;
}
#sales header {
  color: rgb(61, 22, 22);
}
#sales table {
  opacity: 0.9;
}
